@import "tailwindcss";

@layer theme, base, utilities;

:root {
  --gutter: clamp(1.125rem, 2.5vw + 0.5rem, 2.75rem);
}

@theme {
  --color-background: #262626;
  --color-table-border: #7e7e7e;
  --color-yellow: #eab308;
  --color-orange: #ea7108;
  --color-text-main: #edebeb;
  --color-text-secondary: #abb3bd;

  /* Breakpoints */
  --breakpoint-xs: 545px;
  --breakpoint-2xl: 1600px;
}

@layer base {
  html {
    color: theme(--color-text-main);
    font-weight: 700;
    @variant lg {
      font-size: theme(--text-lg);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Eternal, sans-serif;
  }
  /* TODO: UPDATE with fun font :3 */
  h1,
  h1 > span {
    font-size: theme(--text-5xl);
    @variant md {
      font-size: theme(--text-7xl);
    }
    @variant xl {
      font-size: theme(--text-8xl);
    }
  }

  h2 {
    font-size: theme(--text-4xl);
    @variant md {
      font-size: theme(--text-6xl);
    }
    @variant xl {
      font-size: theme(--text-7xl);
    }
  }

  a {
    color: theme(--color-yellow);
    text-decoration: underline;
  }
  a:visited {
    color: theme(--color-orange);
    text-decoration: underline;
  }
  a:hover {
    color: theme(--color-background);
    background-color: theme(--color-yellow);
  }

  strong,
  b {
    color: theme(--color-yellow);
  }

  pre {
    font-family: "jetbrains mono", monospace;
    white-space: nowrap;
    overflow-x: auto;
    border: 1px solid theme(--color-table-border);
    border-radius: 8px;
    padding: 1em;
  }

  .json span {
    font-style: italic;
    color: theme(--color-text-secondary);
  }

  /* Table Styling */
  th {
    background-color: #494949;
  }
  td {
    padding: calc(1 * var(--spacing));
    margin: calc(1 * var(--spacing));
    border: 1px solid theme(--color-table-border);
  }
  th,
  td {
    /* font-size: theme(--text-xs); */
    @variant sm {
      font-size: theme(--text-base);
    }
  }
  tr:nth-child(even) {
    background-color: #494949;
  }
  table {
    border: 1px solid theme(--color-table-border);
  }
}

html {
  background-color: var(--color-background);
  scrollbar-color: var(--color-yellow) #000;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  color: theme(--color-text-main);
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype supports variations"),
    url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eternal";
  src: url("/fonts/Eternal.otf");
}
