---
import HomeSection from "@components/HomeSection.astro";
import TopNav from "@components/TopNav/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import AboutBlurbList from "@components/AboutBlurbList.astro";
import PageHeader from "@components/PageHeader.astro";
---

<Layout>
  <TopNav />
  <PageHeader>About Regal</PageHeader>
  <section class="grid gap-2 py-10 grid-cols-12 px-[var(--gutter)]">
    <AboutBlurbList />
  </section>
</Layout>

<style>
  h1 {
    font-family: "Prospekt Regular", sans-serif;
  }
</style>
