---
import "../styles/rffWebring.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:site_name" content="Furry Fitness Webring" />
    <meta property="og:url" content="/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>Furry Fitness Webring</title>
  </head>
  <body>
    <div class="flex flex-col gap-2 p-2 xs:p-10">
      <slot />
    </div>
  </body>
</html>
