---
import { capitalizeFirst } from "src/utils/stringFormatters";

export enum BOOK_DISPLAY_VIEWS {
  DEFAULT = "default",
  COMPACT = "compact",
}

interface Props {
  activeTab: BOOK_DISPLAY_VIEWS;
  tagId?: string;
}

const { activeTab, tagId } = Astro.props;

const style = (value: string) => (activeTab === value ? "bg-yellow shadow-lg z-5" : "bg-yellow-700 text-black/75 hover:cursor-pointer z-2");
console.log(activeTab);
---

{
  Object.entries(BOOK_DISPLAY_VIEWS).map(([key, value]) => (
    <a
      href={`/books/${value}${tagId ? "/tagged/" + tagId : ""}`}
      class={`${style(value)} font-semibold py-1 px-2 text-lg sm:text-xl inline-flex justify-center items-center`}
    >
      {capitalizeFirst(key)} View
    </a>
  ))
}
