---
import Footer from "@components/Footer.astro";
import InfoPageLayout from "@layouts/InfoPageLayout.astro";
import ErrorPage from "@components/ErrorPage.astro";
import TopNav from "@components/TopNav/TopNav.astro";
---

<InfoPageLayout>
  <main class="min-h-[100vh] overflow-hidden flex flex-col w-full border-separate">
    <TopNav isErrorPage={true} />
    <ErrorPage title="404" subtitle="page not found" />
    <div class="table">
      <Footer />
    </div>
  </main>
</InfoPageLayout>
