---
import Layout from "../layouts/Layout.astro";
import TopNav from "@components/TopNav.astro";
import PageHeader from "@components/PageHeader.astro";
import ArgentRelax from "@assets/argent/ArgentRest_Luzzy.jpg";
import Argent2 from "@assets/argent/ArgentSvend.png";
import Argent3 from "@assets/argent/CommieCross-transparent_Batnoise.png";
import Argent4 from "@assets/argent/pixelArgent_Arka.png";
import Argent5 from "@assets/argent/CommunismCoffeeArgent.png";
import Argent6 from "@assets/argent/vaporwaveArgent.png";
import Argent7 from "@assets/argent/SymmetricalArgent_Orion.png";
import Accordion from "@components/Accordion/Accordion";
import Gallery from "@components/Gallery.astro";
import GalleryGrid from "@components/GalleryGrid.astro";
---

<Layout>
  <TopNav />
  <PageHeader leftRight="left">Fursona</PageHeader>
  <div>
    <GalleryGrid client:load images={[ArgentRelax, Argent2, Argent3, Argent4, Argent5, Argent6, Argent7]} />
  </div>

  <style>
    h1,
    h2 {
      font-family: "Prospekt Regular", sans-serif;
      color: white;
    }
  </style>
</Layout>
