---
import Layout from "@layouts/Layout.astro";
---

<!-- Container -->
<Layout>
  <div class="w-[1200px] h-[630px] flex text-white flex flex-col gap-2">
    <p class="font-prospekt">P Test</p>
    <h1 class="font-prospekt">H1 Test</h1>
  </div>
</Layout>
