---
interface Props {
  size?: "lg" | "2xl" | "3xl";
  serif?: boolean;
  credit?: boolean;
}

const { size, serif = true, credit = true } = Astro.props;

const textSize = size ? `text-${size}` : "";
---

<blockquote class:list={["flex italic font-serif font-light relative my-10 border-slate-200 py-10"]}>
  <div class=`ml-20 ${textSize} ${serif ? "font-serif italic" : "font-sans"}`>
    <p class="slotContent">
      <slot />
    </p>
    {
      credit && (
        <p class="slotContent text-base">
          –<slot name="credit" />
        </p>
      )
    }
  </div>
</blockquote>

<style>
  .slotContent::before {
    content: none;
  }
  .slotContent::after {
    content: none;
  }
  blockquote {
    background: none;
    border: none;
    padding-left: 0;
  }
  blockquote::before {
    position: absolute;
    display: block;
    height: 0;
    width: calc(17 * var(--spacing));
    text-align: left;
    color: var(--color-white);
    font-size: var(--text-9xl);
    content: "“";
    top: calc(-2 * var(--spacing));
    line-height: 1em;
  }
  /* blockquote::after {
    position: absolute;
    display: block;
    height: 0;
    width: calc(17 * var(--spacing));
    text-align: left;
    color: var(--color-white);
    font-size: var(--text-9xl);
    content: "”";
    bottom: calc(13 * var(--spacing));
    right: 0;
    line-height: 1em;
  } */
</style>
