---
import CobraLogo from "@components/ImageComponents/CobraLogo.astro";

interface Props {
  isErrorPage?: boolean;
}

interface Exception {
  remove: RegExp;
  displayReplace: string;
  pathReplace: string;
}

interface UrlSplitReference {
  urlDisplay: string;
  url: string;
}

const exceptions: Exception[] = [
  {
    remove: /\/blog\/tagged\/.+/,
    displayReplace: "blog",
    pathReplace: "/blog",
  },
  {
    remove: /\/books\/(compact|default)(\/tagged\/.+)?/,
    displayReplace: "home",
    pathReplace: "/",
  },
  {
    remove: /\/cafe-reviews\/sort\/.+/,
    displayReplace: "home",
    pathReplace: "/",
  },
];
const splitUrl: string[] = Astro.url.pathname.split("/");
const splitUrlTrimmed = splitUrl[splitUrl.length - 1] === "" ? splitUrl.toSpliced(-1) : [...splitUrl];

const returnPathName = (): UrlSplitReference => {
  const topLevel = splitUrlTrimmed[splitUrlTrimmed.length - 2];
  if (topLevel === "") {
    return {
      urlDisplay: "Home",
      url: "/",
    };
  }
  const exception = [...exceptions].find((item) => Astro.url.pathname.match(item.remove));

  return {
    urlDisplay: exception ? exception.displayReplace : topLevel.replace("-", " "),
    url: exception ? exception.pathReplace : splitUrlTrimmed.toSpliced(-1).join("/"),
  };
};

const { isErrorPage } = Astro.props;
---

<nav class="py-2 bg-redDark border-redLight w-full flex xs:flex-row flex-col text-white">
  <a href="/" class="text-3xl border-r-0 xs:border-r-2 border-slate-200 border-opacity-75 mx-5 pr-4 flex items-center font-medium font-prospekt self-center">
    <div class="w-12">
      <CobraLogo />
    </div>
    <div class="text-white text-3xl flex items-center font-medium font-prospekt">
      COBRA<span class="text-4xl mb-1">★</span>MONSTER
    </div>
  </a>
  <div class="items-center xs:flex w-full">
    <ul class="flex justify-between grow gap-5 text-redDarkest font-medium mr-4">
      <li class="hover:scale-[1.15] transition duration-300">
        {
          isErrorPage ? (
            <button class:list={["capitalize px-2 py-1 bg-slate-200 rounded-full"]}>
              <a href="/">←︎ Home</a>
            </button>
          ) : (
            <button class:list={["capitalize px-2 py-1 bg-slate-200 rounded-full"]}>
              <a href={returnPathName().url}>←︎ {returnPathName().urlDisplay}</a>
            </button>
          )
        }
      </li>
      <li class="hover:scale-[1.15] transition duration-300">
        <button id="top-nav-scroll-to-footer" class="px-2 py-1 bg-slate-200 rounded-full hover:cursor-pointer"> Nav ↓ </button>
      </li>
    </ul>
  </div>
</nav>

<script>
  function getBackToBottomBtn() {
    const backToTopButton = document.getElementById("top-nav-scroll-to-footer");
    backToTopButton?.addEventListener("click", scrollToBottom);
  }
  getBackToBottomBtn();

  function scrollToBottom() {
    window.scrollTo({
      top: document.documentElement.scrollHeight - window.innerHeight,
      behavior: "smooth",
    });
  }
  document.addEventListener("astro:after-swap", getBackToBottomBtn);
</script>
