---
import CobraLogo from "@components/ImageComponents/CobraLogo.astro";
import arrowLeft from "@assets/mutantEmoji/utility/arrow_left.png";
import InlineEmoji from "./ImageComponents/InlineEmoji.astro";

interface Props {
  isErrorPage?: boolean;
}

interface Exception {
  remove: RegExp;
  displayReplace: string;
  pathReplace: string;
}

interface UrlSplitReference {
  urlDisplay: string;
  url: string;
}

const exceptions: Exception[] = [
  {
    remove: /\/blog\/tagged\/.+/,
    displayReplace: "blog",
    pathReplace: "/blog",
  },
  {
    remove: /\/books\/(compact|default)(\/tagged\/.+)?/,
    displayReplace: "home",
    pathReplace: "/",
  },
  {
    remove: /\/cafe-reviews\/sort\/.+/,
    displayReplace: "home",
    pathReplace: "/",
  },
];
const splitUrl: string[] = Astro.url.pathname.split("/");
const splitUrlTrimmed = splitUrl[splitUrl.length - 1] === "" ? splitUrl.toSpliced(-1) : [...splitUrl];

const returnPathName = (): UrlSplitReference => {
  const topLevel = splitUrlTrimmed[splitUrlTrimmed.length - 2];
  if (topLevel === "") {
    return {
      urlDisplay: "Home",
      url: "/",
    };
  }
  const exception = [...exceptions].find((item) => Astro.url.pathname.match(item.remove));

  return {
    urlDisplay: exception ? exception.displayReplace : topLevel.replace("-", " "),
    url: exception ? exception.pathReplace : splitUrlTrimmed.toSpliced(-1).join("/"),
  };
};

const { isErrorPage } = Astro.props;
---

<nav class="py-2 bg-redDark border-redLight w-full flex flex-col text-white">
  <div id="nav-content-wrapper" class="w-full flex xs:flex-row flex-col">
    <a
      href="/"
      class="text-3xl border-r-0 xs:border-r-2 border-slate-200 border-opacity-75 mx-5 pr-4 flex items-center font-medium font-prospekt self-center grow"
    >
      <div class="w-12">
        <CobraLogo />
      </div>
      <div class="text-white text-3xl flex items-center font-medium font-prospekt">
        COBRA<span class="text-4xl mb-1">★</span>MONSTER
      </div>
    </a>
    <!-- <button id="top-nav-scroll-to-footer" class="px-2 py-1 bg-slate-200 rounded-full hover:cursor-pointer"> Nav ↓ </button> -->
    <button id="nav-menu-btn" class="px-2 py-1 rounded-full hover:cursor-pointer absolute right-0 top-4">
      <svg viewBox="0 0 16 16" fill="currentColor" class="size-6"
        ><path d="M8 2a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM8 6.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM9.5 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"
        ></path></svg
      >
    </button>
    <div class="items-center xs:flex w-full hidden">
      <!-- Nav links -->
      <ul class="flex justify-between grow gap-5 text-redDarkest font-medium mr-4">
        <li class="hover:scale-[1.15] transition duration-300">
          {
            isErrorPage ? (
              <button class:list={["capitalize px-2 py-1 bg-slate-200 rounded-full"]}>
                <a href="/">
                  ←<InlineEmoji emoji={arrowLeft} styles={`w-5`} /> Home
                </a>
              </button>
            ) : (
              <button class:list={["capitalize px-2 py-1 bg-slate-200 rounded-full"]}>
                <a href={returnPathName().url}>
                  <InlineEmoji emoji={arrowLeft} styles={`w-5`} /> {returnPathName().urlDisplay}
                </a>
              </button>
            )
          }
        </li>
      </ul>
    </div>
  </div>
  <div id="top-nav-menu" class="hidden transition-all duration-500 ease-in-out">
    <ul>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
    </ul>
  </div>
</nav>

<script>
  function toggleNavBtn() {
    const toggleNavBtn = document.getElementById("nav-menu-btn");
    const navMenu = document.getElementById("top-nav-menu");
    toggleNavBtn?.addEventListener("click", function () {
      navMenu?.classList.toggle("hidden");
    });
  }
  toggleNavBtn();

  document.addEventListener("astro:after-swap", toggleNavBtn);
</script>
