---
import type { GetStaticPaths } from "astro";
import redirectRffWebring from "@components/RffWebring/utils/redirect";
import webring from "@components/RffWebring/_data/webring.json";

const path = Astro.url.pathname;
const redirectTo = redirectRffWebring(true, path);
export const getStaticPaths = (() => {
  return webring.map((ringEntry) => {
    return {
      params: { id: ringEntry.id },
    };
  });
}) satisfies GetStaticPaths;

return Astro.redirect(redirectTo);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="0; url=${redirect.url}" />
    <title>Redirecting&hellip;</title>
  </head>
  <body>
    <p>Redirecting you to <a href={redirectTo}>${redirectTo}</a>&hellip;</p>
  </body>
</html>`
